.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.watchTime{
  flex-direction: row;
  display: none;
}

.inputTime{
  flex-direction: row;
  border: 1px solid #333333;
  padding: 20px;
}

.inputTime input{
/* font-family: Helvetica;
    font-size: 114px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    text-shadow: 1px 1px 1px #b1bea9;
    color: #7abc4b;
    border: 0;
    width: 135px;
    background: none;
    padding: 0;
    margin: 0;
    height: 100%; */
}