.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.watchTime{
  flex-direction: row;
  display: none;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #7abc4b;
}

.inputTime{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #333333;
  padding: 20px;
  width: 500px;
  text-align: center;
}

.inputTime h2{
  text-align: left;
}

.inputTime h5{
  text-align: right;
}

.inputTime input, .inputTime span{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #7abc4b;
  border: 0;
  width: 140px;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}